@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
body {
  height: auto;
  font-family: Source Sans Pro,sans-serif,"Helvetica Neue",Helvetica,Arial;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

.show {
  display: block !important;
}

/***************************** start Header  *************/
.title {
  width: 100%;
  height: 70px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title img {
  width: 7vw;
  height: 5vh;
}

.title span {
  text-align: center;
  font-size: 0.7vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 7px;
}

.title span h4 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-size: 1vw;
  font-weight: 400;
}

/***************************** end Header  *************/
/* ************************* start Positions ******************* */
.title_job h3 {
  font-weight: 800 !important;
  font-size: 1.8vw !important;
  color: #7B40A0;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
}

.AllSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 7vh;
}

.AllSelect .select1 {
  width: 16.5vw;
  height: 40px;
  z-index: 18 !important;
}

.AllSelect .select1 .Amaro {
  position: relative !important;
  top: 0;
  left: 98%;
  height: 10px;
  width: 10px;
}

.AllSelect .select1 .Amaro::before {
  content: "";
  position: absolute;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  right: 4px;
  margin-top: -2px;
  top: 70%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.AllSelect .select1 .openInput {
  position: relative !important;
  top: 0;
  left: 100%;
  height: 15px;
  width: 15px;
}

.AllSelect .select1 .openInput::before {
  content: "";
  position: absolute;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  right: 12px;
  margin-top: -2px;
  top: 50%;
  cursor: pointer;
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.AllSelect .select1 #department {
  width: 100%;
  padding: 5px;
  height: 100%;
  border: 1px solid rgba(73, 73, 73, 0.29) !important;
  border-radius: 5px;
  position: relative !important;
  top: 0;
  left: 0;
  font-size: 0.8vw !important;
  font-weight: 800;
  letter-spacing: 0.5px;
  font-family: "Roboto";
  color: #888;
  outline: "";
  background-color: transparent !important;
  -webkit-appearance: none !important;
}

.AllSelect .select1 #department:focus {
  border: none;
  outline: none;
}

.AllSelect .select1 .selection__clear {
  font-size: 1.2vw !important;
}

.AllSelect .select1 ul {
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 2px 10px #152d3d2d;
          box-shadow: 0 2px 10px #152d3d2d;
  border-radius: 0 0 8px 8px;
  margin: 0;
  padding: 0;
  background-color: white !important;
}

.AllSelect .select1 ul li {
  cursor: pointer;
  list-style: none;
  padding: 15px;
  color: rgba(0, 0, 0, 0.602);
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AllSelect .select1 ul li h3 {
  font-size: 0.78vw;
  font-family: "Roboto";
}

.AllSelect .select1 ul li .icon-tick {
  font-size: 1vw;
  display: none;
}

.AllSelect .select1 ul li .icon-tick svg {
  width: 13px !important;
  height: 13px !important;
}

.AllSelect .select1 ul li:hover {
  color: rgba(0, 0, 0, 0.823);
  font-weight: 500;
}

.AllSelect .select1 .noShow {
  display: none;
}

.AllSelect .select2 {
  width: 16.5vw;
  height: 40px;
}

.AllSelect .select2 .Amaro {
  position: relative !important;
  top: 0;
  left: 98%;
  height: 10px;
  width: 10px;
}

.AllSelect .select2 .Amaro::before {
  content: "";
  position: absolute;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  right: 4px;
  margin-top: -2px;
  top: 70%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.AllSelect .select2 .openInput {
  position: relative !important;
  top: 0;
  left: 100%;
  height: 15px;
  width: 15px;
}

.AllSelect .select2 .openInput::before {
  content: "";
  position: absolute;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  right: 12px;
  margin-top: -2px;
  top: 50%;
  cursor: pointer;
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.AllSelect .select2 #working {
  width: 100%;
  padding: 5px;
  height: 100%;
  border: 1px solid rgba(73, 73, 73, 0.29) !important;
  border-radius: 5px;
  position: relative !important;
  top: 0;
  left: 0;
  font-size: 0.8vw !important;
  font-weight: 800;
  letter-spacing: 0.5px;
  font-family: "Roboto";
  color: #888;
  outline: "";
  background-color: transparent !important;
  -webkit-appearance: none !important;
}

.AllSelect .select2 #working:focus {
  border: none;
  outline: none;
}

.AllSelect .select2 .selection__clear {
  font-size: 1.2vw !important;
}

.AllSelect .select2 ul {
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 2px 10px #152d3d2d;
          box-shadow: 0 2px 10px #152d3d2d;
  border-radius: 0 0 8px 8px;
  margin: 0;
  padding: 0;
  background-color: white;
}

.AllSelect .select2 ul li {
  cursor: pointer;
  list-style: none;
  padding: 15px;
  color: rgba(0, 0, 0, 0.602);
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AllSelect .select2 ul li h3 {
  font-size: 0.78vw;
  font-family: "Roboto";
}

.AllSelect .select2 ul li .icon-tick {
  font-size: 1vw;
  display: none;
}

.AllSelect .select2 ul li .icon-tick svg {
  width: 13px !important;
  height: 13px !important;
}

.AllSelect .select2 ul li:hover {
  color: rgba(0, 0, 0, 0.823);
  font-weight: 500;
}

.AllSelect .select2 .noShow {
  display: none;
}

.AllSelect .select3 {
  width: 16.5vw;
  height: 40px;
  z-index: 15 !important;
}

.AllSelect .select3 .Amaro {
  position: relative !important;
  top: 0;
  left: 98%;
  height: 10px;
  width: 10px;
}

.AllSelect .select3 .Amaro::before {
  content: "";
  position: absolute;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  right: 4px;
  margin-top: -2px;
  top: 70%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.AllSelect .select3 .openInput {
  position: relative !important;
  top: 0;
  left: 100%;
  height: 15px;
  width: 15px;
}

.AllSelect .select3 .openInput::before {
  content: "";
  position: absolute;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  right: 12px;
  margin-top: -2px;
  top: 50%;
  cursor: pointer;
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.AllSelect .select3 #location {
  width: 100%;
  padding: 5px;
  height: 100%;
  border: 1px solid rgba(73, 73, 73, 0.29) !important;
  border-radius: 5px;
  position: relative !important;
  top: 0;
  left: 0;
  outline: "";
  font-size: 0.8vw !important;
  font-weight: 800;
  letter-spacing: 0.5px;
  font-family: "Roboto";
  color: #888;
  background-color: transparent !important;
  -webkit-appearance: none !important;
}

.AllSelect .select3 #location:focus {
  border: 0.1px solid rgba(73, 73, 73, 0.29) !important;
  outline: none;
}

.AllSelect .select3 .selection__clear {
  font-size: 1.2vw !important;
}

.AllSelect .select3 ul {
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 2px 10px #152d3d2d;
          box-shadow: 0 2px 10px #152d3d2d;
  border-radius: 0 0 8px 8px;
  margin: 0;
  padding: 0;
  background-color: white;
}

.AllSelect .select3 ul li {
  cursor: pointer;
  list-style: none;
  padding: 15px;
  color: rgba(0, 0, 0, 0.602);
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AllSelect .select3 ul li h3 {
  font-size: 0.78vw;
  font-family: "Roboto";
}

.AllSelect .select3 ul li .icon-tick {
  font-size: 1vw;
  display: none;
}

.AllSelect .select3 ul li .icon-tick svg {
  width: 13px !important;
  height: 13px !important;
}

.AllSelect .select3 ul li:hover {
  color: rgba(0, 0, 0, 0.823);
  font-weight: 500;
}

.AllSelect .select3 .noShow {
  display: none;
}

.AllSelect .selInp {
  width: 32.5% !important;
  height: 5.5vh !important;
  position: relative;
  top: 0;
  left: 0;
}

.AllSelect .selInp span[data-select-id="1"],
.AllSelect .selInp span[data-select-id="2"],
.AllSelect .selInp span[data-select-id="3"] {
  display: none;
  position: absolute;
  top: 48%;
  left: 87%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1vw;
  font-weight: 700;
  opacity: 0.9;
  cursor: pointer;
  z-index: 999;
  width: 20px;
  text-align: center;
  background-color: #ffffff80;
  height: 24px;
}

.toggle-and-clear {
  width: 35%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-and-clear .remote-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.toggle-and-clear .remote-toggle span {
  font-size: 0.9vw !important;
  font-family: "Roboto";
  font-weight: 400;
  text-align: start;
}

.toggle-and-clear .remote-toggle .toggle-switch {
  width: 20%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 5px;
}

.toggle-and-clear .remote-toggle .toggle-switch .toggle-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 36px;
  height: 20px;
  z-index: 9;
  left: 0;
}

.toggle-and-clear .remote-toggle .toggle-switch label {
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  margin: 0;
}

.toggle-and-clear .remote-toggle .toggle-switch .toggle-btn:checked + label::before {
  background-color: #5cb46b;
}

.toggle-and-clear .remote-toggle .toggle-switch .toggle-btn + label::before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #a0a0a0;
  border-radius: 10px;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.toggle-and-clear .remote-toggle .toggle-switch .toggle-btn + label::after, .toggle-and-clear .remote-toggle .toggle-switch .toggle-btn + label::before {
  display: block;
  position: absolute;
  content: '';
}

.toggle-and-clear .remote-toggle .toggle-switch .toggle-btn:checked + label::after {
  margin-left: 16px;
}

.toggle-and-clear .remote-toggle .toggle-switch .toggle-btn + label::after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: margin .4s, background .4s;
  transition: margin .4s, background .4s;
}

.toggle-and-clear .remote-toggle .toggle-switch .toggle-btn + label::after, .toggle-and-clear .remote-toggle .toggle-switch .toggle-btn + label::before {
  display: block;
  position: absolute;
  content: '';
}

.toggle-and-clear .clear-text {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  text-align: center;
  margin-top: 2px;
  border-left: 1px solid #dadee4;
}

.toggle-and-clear .clear-text button {
  text-align: center;
  color: #73469B;
  vertical-align: middle;
  font-family: "Roboto";
  font-size: 0.95vw !important;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.input-field {
  position: relative;
  z-index: 1 !important;
}

.input-field .search_input {
  z-index: 0 !important;
  height: 40px;
  margin-bottom: 10px;
  color: #333;
  background: #fff;
  border: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  padding: 5px 30px;
  font-size: 14px;
  background-image: none;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.input-field .search_input:focus {
  outline: none;
  border: 1px solid rgba(8, 8, 8, 0.498);
}

.input-field .icon-search {
  position: absolute;
  top: 11px;
  left: 10px;
  color: #79888E;
}

.input-field .close-icon {
  display: none;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 20px;
}

.ul {
  margin: 0;
  padding: 0;
}

.ul .role-title {
  margin: -20px 0 0;
  padding: 20px 0 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.ul .role-title h5 {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 22px;
  color: #7B40A0;
}

.ul .role-title .role-count {
  background-color: #e6e6e6;
  float: right;
  font-size: 13px;
  padding: 3px 15px;
  border-radius: 25px;
  margin-right: 30px;
}

.ul li {
  padding: 15px 0;
  list-style: none;
  border-top: 1px solid  #e6e6e6 !important;
  cursor: pointer;
}

.ul li .job-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
}

.ul li .job-list .heading {
  padding: 20px 20px 20px 30px;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #000 !important;
  text-decoration: none !important;
}

.ul li .job-list .heading .info {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ul li .job-list .heading .info .jobInfo {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 70%;
}

.ul li .job-list .heading .info .jobInfo .job_title {
  font-size: 1.2vw !important;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  font-family: "Roboto";
}

.ul li .job-list .heading .info .jobInfo .job_desc {
  color: #333 !important;
  text-decoration: none !important;
  font-size: 0.8vw !important;
  font-family: "Roboto";
}

.ul li .job-list .heading .info .job-location {
  text-align: right;
  padding: 25px 10px;
  font-size: 15px;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 30% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul li .job-list .heading .info .job-location .location-info, .ul li .job-list .heading .info .job-location .location-icon {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}

.ul li .job-list .heading .info .job-location .location-info {
  color: #0070d0;
}

.ul li .job-list .heading .info .job-location .location-icon I {
  color: #7b40a0;
}

.no-jobs-found {
  text-align: center;
  margin-top: 36px;
}

.no-jobs-found .no-jobs-icon {
  margin: 0 auto;
  padding: 32px;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background-color: #f8f9fa;
  font-size: 36px;
  color: #79888E;
}

.no-jobs-found .not-found-title {
  font-size: 20px;
  font-weight: 600;
  margin: 24px 0 8px 0;
}

.no-jobs-found p {
  margin: 0 0 10px;
  font-size: 13px !important;
  line-height: 1.42857;
  font-family: "Roboto";
  color: #333;
}

@media only screen and (max-width: 2560px) {
  .toggle-and-clear .remote-toggle span {
    font-size: 0.75vw !important;
  }
  .clear-text button {
    font-size: 0.75vw !important;
  }
  .select2 {
    z-index: 18;
  }
}

@media only screen and (max-width: 1440px) {
  .toggle-and-clear .remote-toggle span {
    font-size: 1vw !important;
  }
  .clear-text button {
    font-size: 1vw !important;
  }
}

@media only screen and (max-width: 768px) {
  .toggle-and-clear .remote-toggle span {
    font-size: 1.2vw !important;
  }
  .select2 {
    z-index: 17;
  }
  .dis_moible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dis_moible .AllSelect .selInp {
    position: relative;
    top: 0;
    left: 0;
  }
  .dis_moible .AllSelect .selInp #department, .dis_moible .AllSelect .selInp #working, .dis_moible .AllSelect .selInp #location {
    font-size: 1.3vw !important;
  }
  .dis_moible .AllSelect .selInp ul {
    position: relative;
    z-index: 20 !important;
    background-color: white;
  }
  .dis_moible .AllSelect .selInp ul li h3 {
    font-size: 1.5vw !important;
  }
  .dis_moible .AllSelect .selInp .selection__clear {
    font-size: 2.2vw !important;
  }
  .dis_moible .toggle-and-clear {
    width: 50%;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0.2rem !important;
  }
  .dis_moible .toggle-and-clear span {
    margin-top: 0.5vw;
    font-size: 1.8vw !important;
    letter-spacing: 0.3px;
  }
  .dis_moible .toggle-and-clear .remote-toggle .toggle-switch label {
    width: 32px;
    height: 18px;
  }
  .ul li .job-list .show .info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .ul li .job-list .show .info .jobInfo {
    margin: 5px 0;
    width: 100% !important;
    max-width: 100% !important;
  }
  .ul li .job-list .show .info .jobInfo .job_title {
    font-size: 3vw !important;
  }
  .ul li .job-list .show .info .jobInfo .job_desc {
    font-size: 2.3vw !important;
    font-weight: 400 !important;
  }
  .ul li .job-list .show .info .job-location {
    max-width: 100% !important;
    width: 100% !important;
    text-align: start !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-top: 1px solid #dadee4;
    padding-block: 15px !important;
  }
  .ul li .job-list .show .info .job-location .location-info {
    font-size: 3vw;
    margin-right: 10%;
    font-weight: 600;
    letter-spacing: 0;
  }
  .ul li .job-list .show .info .job-location .location-icon i {
    font-size: 3vw !important;
  }
  .title {
    height: 55px;
  }
  .title img {
    width: 7vw;
    height: 2.5vh !important;
  }
  .title span h4 {
    font-size: 2.2vw;
  }
}

@media only screen and (max-width: 570px) {
  .title_job h3 {
    font-size: 3vw !important;
  }
  .dis_moible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dis_moible .AllSelect {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    height: auto !important;
  }
  .dis_moible .AllSelect .selInp {
    width: 90.5% !important;
    height: 6.5vh !important;
    margin: 5px 0;
    position: relative;
    top: 0;
    left: 0;
  }
  .dis_moible .AllSelect .selInp #department, .dis_moible .AllSelect .selInp #working, .dis_moible .AllSelect .selInp #location {
    font-size: 2vw !important;
  }
  .dis_moible .AllSelect .selInp ul {
    position: relative;
    z-index: 20 !important;
    background-color: white;
  }
  .dis_moible .AllSelect .selInp ul li h3 {
    font-size: 2vw !important;
  }
  .dis_moible .AllSelect .selInp .selection__clear {
    font-size: 4vw !important;
  }
  .dis_moible .toggle-and-clear {
    width: 45%;
    height: 5vh;
    margin-top: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0.2rem !important;
  }
  .dis_moible .toggle-and-clear span {
    margin-top: 0.5vw;
    font-size: 2vw !important;
    letter-spacing: 0.3px;
  }
  .dis_moible .toggle-and-clear .remote-toggle .toggle-switch {
    width: 32%;
  }
  .dis_moible .toggle-and-clear .remote-toggle .toggle-switch label {
    width: 32px;
    height: 18px;
  }
  .dis_moible .toggle-and-clear .clear-text {
    width: 30%;
  }
  .dis_moible .toggle-and-clear .clear-text button {
    font-size: 1.9vw !important;
  }
  .input-field input {
    height: 30px !important;
    font-size: 1.7vw !important;
  }
  .input-field .icon-search {
    font-size: 2.5vw !important;
  }
  .role-title h5 {
    font-size: 3vw !important;
  }
  .role-title .role-count {
    font-size: 2vw !important;
  }
  .ul {
    position: relative;
    z-index: 20 !important;
    background-color: white;
  }
  .ul li .job-list .show .info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .ul li .job-list .show .info .jobInfo {
    margin: 5px 0;
    width: 100% !important;
    max-width: 100% !important;
  }
  .ul li .job-list .show .info .jobInfo .job_title {
    font-size: 3vw !important;
  }
  .ul li .job-list .show .info .jobInfo .job_desc {
    font-size: 2.3vw !important;
    font-weight: 400 !important;
  }
  .ul li .job-list .show .info .job-location {
    max-width: 100% !important;
    width: 100% !important;
    text-align: start !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-top: 1px solid #dadee4;
    padding-block: 15px !important;
  }
  .ul li .job-list .show .info .job-location .location-info {
    font-size: 3vw;
    margin-right: 10%;
    font-weight: 600;
    letter-spacing: 0;
  }
  .title {
    height: 55px;
  }
  .title img {
    width: 7vw;
    height: 2.5vh !important;
  }
  .title span h4 {
    font-size: 2.2vw;
  }
}

@media only screen and (max-width: 425px) {
  .title_job h3 {
    font-size: 3vw !important;
  }
  .dis_moible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dis_moible .AllSelect {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    height: auto !important;
  }
  .dis_moible .AllSelect .selInp {
    width: 90.5% !important;
    height: 6.5vh !important;
    margin: 5px 0;
    position: relative;
    top: 0;
    left: 0;
  }
  .dis_moible .AllSelect .selInp #department, .dis_moible .AllSelect .selInp #working, .dis_moible .AllSelect .selInp #location {
    font-size: 2vw !important;
  }
  .dis_moible .AllSelect .selInp ul {
    position: relative;
    z-index: 20 !important;
    background-color: white;
  }
  .dis_moible .AllSelect .selInp ul li h3 {
    font-size: 2vw !important;
  }
  .dis_moible .AllSelect .selInp .selection__clear {
    font-size: 4vw !important;
  }
  .dis_moible .toggle-and-clear {
    width: 45%;
    height: 5vh;
    margin-top: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0.2rem !important;
  }
  .dis_moible .toggle-and-clear span {
    margin-top: 0.5vw;
    font-size: 2vw !important;
    letter-spacing: 0.3px;
  }
  .dis_moible .toggle-and-clear .remote-toggle .toggle-switch {
    width: 32%;
  }
  .dis_moible .toggle-and-clear .remote-toggle .toggle-switch label {
    width: 32px;
    height: 18px;
  }
  .dis_moible .toggle-and-clear .clear-text {
    width: 30%;
  }
  .dis_moible .toggle-and-clear .clear-text button {
    font-size: 1.9vw !important;
  }
  .input-field input {
    height: 30px !important;
    font-size: 1.7vw !important;
  }
  .input-field .icon-search {
    font-size: 2.5vw !important;
  }
  .role-title h5 {
    font-size: 3vw !important;
  }
  .role-title .role-count {
    font-size: 2vw !important;
  }
  .ul {
    position: relative;
    z-index: 20 !important;
    background-color: white;
  }
  .ul li .job-list .show .info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .ul li .job-list .show .info .jobInfo {
    margin: 5px 0;
    width: 100% !important;
    max-width: 100% !important;
  }
  .ul li .job-list .show .info .jobInfo .job_title {
    font-size: 3vw !important;
  }
  .ul li .job-list .show .info .jobInfo .job_desc {
    font-size: 2.3vw !important;
    font-weight: 400 !important;
  }
  .ul li .job-list .show .info .job-location {
    max-width: 100% !important;
    width: 100% !important;
    text-align: start !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-top: 1px solid #dadee4;
    padding-block: 15px !important;
  }
  .ul li .job-list .show .info .job-location .location-info {
    font-size: 3vw;
    margin-right: 10%;
    font-weight: 600;
    letter-spacing: 0;
  }
  .title {
    height: 55px;
  }
  .title img {
    width: 7vw;
    height: 2.5vh !important;
  }
  .title span h4 {
    font-size: 2.2vw;
  }
}

.pageJob {
  height: auto;
  width: 100vw;
}

.pageJob .colorBac {
  background-color: #6A5376;
}

.pageJob .colorBac .NavpageJob .infoTitle .link-back {
  color: white !important;
}

.pageJob .colorBac .NavpageJob .infoTitle .link-back .fas {
  font-size: 1.1vw;
  margin-right: 5px;
}

.pageJob .colorBac .NavpageJob .btnFrom {
  color: white;
}

.pageJob .colorBac .NavpageJob .btnFrom .brand-color {
  margin-top: 0;
  font-size: 1.8vw;
  margin-bottom: 5px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.pageJob .colorBac .NavpageJob .btnFrom .stick-hide-in-mobile {
  font-family: Source Sans Pro,sans-serif,"Helvetica Neue",Helvetica,Arial;
  font-size: 0.8vw;
}

.pageJob .colorBac .NavpageJob .btnFrom .btn-custom {
  color: #fff !important;
  background-color: #1ebea5;
  border-color: #1ebea5;
  border: 0;
  font-size: 1.1vw;
  padding: 8px 29px;
}

.pageJob .colorBac .NavpageJob .btnFrom .btn-custom:hover {
  background-color: #57e4cf;
}

.pageJob .summary h6 {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 0.85vw !important;
  font-family: "Roboto";
  font-weight: 600;
}

.pageJob .summary p {
  font-size: 0.75vw;
  letter-spacing: 0.3px;
  font-family: "Roboto";
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 95%;
}

.pageJob .Responsibilities h6 {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 0.85vw;
  font-family: "Roboto";
  font-weight: 600;
}

.pageJob .Responsibilities ul li {
  margin-block: 4px;
  font-size: 0.75vw;
  font-weight: 400;
  font-family: "Roboto";
  letter-spacing: 0.5px;
  margin-left: 2.5vw;
}

.pageJob .application-form {
  display: none;
}

.pageJob .application-form h4 {
  color: #7b40a0;
  font-weight: 400;
  font-size: 1.3vw;
  letter-spacing: 0.8px;
}

.pageJob .application-form .application-btn {
  margin: 30px 0;
}

.pageJob .application-form .application-btn .resume-upload {
  display: inline-block;
  position: relative;
}

.pageJob .application-form .application-btn .resume-upload input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.pageJob .application-form .application-btn .resume-upload input:hover {
  color: white !important;
  background: #1ebea5 !important;
}

.pageJob .application-form .application-btn .resume-upload .btn-primary {
  color: #1ebea5 !important;
  border-color: #1ebea5 !important;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  position: relative;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
}

.pageJob .application-form .application-btn .resume-upload .btn-primary:hover {
  z-index: 0;
  color: white !important;
  background-color: #1ebea5 !important;
}

.pageJob .application-form .application-btn .resume-upload .btn-primary span {
  color: red;
  margin-left: 3px;
}

.pageJob .application-form .application-btn .resume-upload .upload-file {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
}

.pageJob .application-form .application-btn .resume-upload .upload-file:focus {
  z-index: 1 !important;
  color: white !important;
  background: #1ebea5 !important;
}

.pageJob .application-form .application-btn .infoFrom {
  height: auto;
}

.pageJob .application-form .application-btn .infoFrom .form-group {
  margin-bottom: 15px;
  position: relative;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.pageJob .application-form .application-btn .infoFrom .form-group label {
  background-color: #fff;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1em;
  padding: 3px 5px;
  margin-left: 8px;
  position: relative;
  font-size: 0.7vw;
  z-index: 10;
}

.pageJob .application-form .application-btn .infoFrom .form-group label span {
  color: red;
}

.pageJob .application-form .application-btn .infoFrom .form-group .form-control {
  color: #333;
  background: #fff;
  border: 1px solid #c5c5c5;
}

.pageJob .application-form .application-btn .infoFrom .form-group .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  background-image: none;
  border-radius: 4px;
  margin-top: -3px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.pageJob .application-form .application-btn .infoFrom .form-group .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #9040A0;
}

.pageJob .application-form .application-btn .infoFrom .section-group .link-label {
  font-size: 0.75vw;
  padding: 0;
  margin: 0 0 20px;
}

.pageJob .application-form .application-btn .infoFrom .section-group .link-label .link-label-title {
  font-size: 16px;
  padding: 0;
  margin: 25px 0 5px;
  font-weight: 600;
}

.pageJob .application-form .application-btn .infoFrom .section-group .link-group .form-group .form-control {
  padding: 8px;
  color: #333;
  background: #fff;
  border: 1px solid #c5c5c5;
  height: 100%;
}

.pageJob .application-form .application-btn .infoFrom .section-group .link-group .form-group .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #9040A0;
}

.pageJob .application-form .application-btn .infoFrom .section-group .link-group .form-group .btn-add {
  padding: 3px !important;
  height: 100%;
  color: #333;
  background: #fff;
  border: 1px solid #c5c5c5;
}

.pageJob .application-form .application-btn .infoFrom .section-group .link-group .form-group .btn-add:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #0a0a0a;
}

.pageJob .application-form .application-btn .btnSubm .btn-primary {
  margin-top: 25px;
  padding: 10px 5px;
  font-size: 1vw !important;
  color: #fff;
  background-color: #1ebea5;
  border-color: #1ebea5;
}

.pageJob .application-form .application-btn .btnSubm .btn-primary:hover {
  background-color: #5ae4cf;
  border-color: #5ee6d1;
}

@media only screen and (max-width: 1024px) {
  .AllSelect .select3 #department, .AllSelect .select3 #working, .AllSelect .select3 #location, .AllSelect .select2 #department, .AllSelect .select2 #working, .AllSelect .select2 #location, .AllSelect .select1 #department, .AllSelect .select1 #working, .AllSelect .select1 #location {
    font-size: 1.1vw !important;
  }
  .AllSelect .select3 ul li h3, .AllSelect .select2 ul li h3, .AllSelect .select1 ul li h3 {
    font-size: 1vw !important;
  }
  .AllSelect .select3 .selection__clear, .AllSelect .select2 .selection__clear, .AllSelect .select1 .selection__clear {
    font-size: 1.5vw !important;
  }
  .application-btn .resume-upload .btn-primary {
    font-size: 1.1vw !important;
  }
  .application-btn .infoFrom .form-group label {
    font-size: 1vw !important;
  }
  .application-btn .btnSubm .btn-primary {
    font-size: 1.5vw !important;
    padding: 10px 5px !important;
  }
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #222222;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #57E4CF;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #57E4CF;
  -webkit-box-shadow: 0 0 20px #6A5376;
          box-shadow: 0 0 20px #6A5376;
}

.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #57E4CF;
  border-right: 3px solid #57E4CF;
  border-radius: 50%;
  -webkit-animation: animateC 2s linear infinite;
          animation: animateC 2s linear infinite;
}

.ring:before .Loading {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

.ring:before .Loading .Loading:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  -webkit-box-shadow: 0 0 20px #fff000;
          box-shadow: 0 0 20px #fff000;
}

@-webkit-keyframes animateC {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animateC {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
/*# sourceMappingURL=styles.css.map */